<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header xfw-logo">
           
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#">切换城市</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search" style="margin-left:400px">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="输入想吃的美食">
                </div>
                 <button type="submit" class="btn btn-warning">立即搜索</button>
            </form>   
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#xfw-login-fragment">{{email}}</a></li>
                <li><a href="#!/user/login">登录</a></li>
                <li><a href="#!/user/regist">注册 </a></li>
            </ul>
        </div>
    </div>
</nav>